# Configuración MySQL local para bd_acaendgo
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bd_acaendgo
GEMINI_API_KEY=AQ.Ab8RN6KVhrciRhZ46D0FPqzmNO7uvgzs_E1Xlg0mHlBFOB1Ulg
PORT=4000
